.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media(max-width:900px) {
  .dashboard-stats {
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:600px) {
  .dashboard-stats {
    grid-template-columns: 1fr;
  }
}