.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  background: white;
  width: 90%;
  max-width: 500px;

  border-radius: 16px;
  padding: 24px;

  position: relative;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;

  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;

  transition: 0.3s;
}

.closeBtn:hover {

    transition: 0.3s;
    color: rgb(74, 74, 74);
}

.appointmentForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.appointmentForm input,
.appointmentForm select,
.appointmentForm textarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.submitBtn {
  background: #6B6FF5;
  color: white;

  border: none;
  border-radius: 8px;

  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.submitBtn:hover {
  background: #878bf6;
  color: white;
  transition: 0.3s;
}