.services-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.services-header p {
  color: gray;
}

.service-btn {
  background: #5b63ff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
}

.admin-badge {
  background: #22c55e;
  color: white;
  padding: 5px 14px;
  border-radius: 999px;
}