.franchise-page {
  padding: 28px;
  height: calc(100vh - 102px);
  overflow-y: hidden;
  border-bottom: 25px solid #ffffff;
  
}

.franchise-page:hover {
  transform: none;
  cursor: default;
}

.franchise-header {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eceef3;
  margin-bottom: 25px;
}

.franchise-header > i {
  font-size: 17px;
  color: #f97316;
  margin-top: 3px;
}

.franchise-header h2 {
  font-size: 18px;
  font-weight: 700;
}

.franchise-header p {
  color: gray;
  font-size: 13.5px;
  margin-top: 4px;
}

.franchise-cards-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  overflow-y: auto;
}